  <%= image_tag clothing_picture(clothing), size: "100x100"%>

  <ul class="list-group clothing-params">
      <li>
          <div class="clothes-type"><%= clothing_name(clothing) %></div>
      </li>
      <li>
        <div class="clothes-brand"><%= clothing_brand(clothing) %></div>
      </li>
      <li>
          <%= clothing_size(clothing) %>
      </li>
      <li>
          <%= clothing_color(clothing) %>
      </li>
      <li> Likes:
        <%= clothes_likes(clothing) %>
      </li>
  </ul>

  <ul class="list-inline">
      <% expected_clothing_names(clothing).each do |match|%>
          <li>
            <span class="clothing-type"><%= match %></span>
          </li>
      <% end %>
      <li>
        <% if expected_clothing_names(clothing).to_a.empty? %>
            <span class="clothing-type">Any</span>
        <%end%>
      </li>
  </ul>
  <!--Here I am not sure if it removes a picture. If not implement.-->
  <!--Dependent destroy to use for deleting the pictures-->
  <%if(clothing.owner_id == current_user.id)%>
    <%= link_to "Remove", clothing, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you would like to remove this Clothing?" }%>
    <%= link_to "Exchangeable", clothing_clothing_clothing_types_path(clothing)%>
  <%end%>