<div class="container">
  <header>
    <div> Why wouldn't you add your piece of clothes?</div>
    <p><small>It will be visible on the home page for other users. They will be able to like it or send you a request to initiate exchanging.</small></p>
  </header>

  <div class="col-md-4 col-md-offset-4 ">
      <%= form_for @clothing, html: {multipart:true} do |f| %>
          <div class="form-group">
            Type:
            <%= f.select :clothing_type_id, ClothingType.all.collect { |p| [p.name, p.id]},
                         { include_blank: "Select ..."},
                         {class: "form-control"} %>
          </div>

           <div>
            Brand:
            <%= f.select :clothing_brand_id, ClothingBrand.all.collect { |p| [p.name, p.id]},
                         { include_blank: "Select ..."},
                {class: "form-control"} %>
          </div>
          <div>
            Color:
            <%= f.select :color_id, Color.all.collect { |c| [c.name, c.id] },
                                    { include_blank: "Select ..."},
                                    { class: "form-control"} %>
          </div>

          <div>
            Size:
            <%= f.select :size_id, Size.all.collect { |s| [s.name, s.id] },
                                       { include_blank: "Select ..." },
                                       { class: "form-control"} %>
          </div>

          <div>
            I want to exchange this clothes to:
            <p><small>Choose "Any" if you do not know yet what you would like to get in return.</small> </p>

            <%= f.select :exchangeable_clothing_type_ids,
                         ClothingType.all.collect { |e| [e.name, e.id] },
                                       {:prompt => "Any"},
                                      {
                                      class: "form-control",
                                      multiple: true}%>
          </div>
          <div><p>
            Upload a picture of your piece of clothes:
            <%= f.fields_for :pictures, html: { multipart: true } do |picture| %>
                <%=picture.file_field  :picture%>
                <%= picture.hidden_field :picture_cache %>
            <%end%></p>
          </div>
          <% current_user.id %>
          <%=f.submit "Add", {class: "btn btn-default"}%>
          <%=link_to "Cancel", home_path %>
      <% end %>
  </div>
</div>

