<div class="container">
  <%= form_for @clothing do |f| %>
      <div>
        Type:
        <%= f.select :clothing_type_id, ClothingType.all.collect { |p| [p.name, p.id]}, { include_blank: "Select ..." } %>
      </div>
      <div>
        Color:
        <%= f.select :color_id, Color.all.collect { |c| [c.name, c.id] }, { include_blank: "Select ..." }%>
      </div>

      <div>
        Size:
        <%= f.select :size_id, Size.all.collect { |s| [s.name, s.id] }, { include_blank: "Select ..." } %>
      </div>

      <div>
        Exchange to:
        <%= f.select :exchangeable_clothing_type_ids,
                     ClothingType.all.collect { |e| [e.name, e.id] },
                                  {:prompt => "Please select"},
                                  {:multiple => true}%>
      </div>
      <% current_user.id %>
      <%=f.submit "Add"%>
      <%=link_to "Cancel", home_path %>
  <% end %>
</div>

