<!--Other users clothes-->
<div class="container">
    <div class="container-fluid">
      <% @other_users_clothes.each do |item| %>
              <div class="index-clothes-container">
                  <div>
                      <span class="label label-info">
                        <%=clothing_name(item)%>
                      </span>
                      <ul class="list-group matching-params">
                        <li><%=clothing_size(item)%></li>
                        <li><%=clothing_brand(item)%></li>
                        <li><%=clothing_color(item)%></li>
                        <li> Likes: <%= clothes_likes(item) %></li>
                        <li>
                          <label>I want it!
                            <input class="want-it" type="checkbox" value=<%=item.id%>>
                          </label>
                        </li>
                      </ul>
                    <%= image_tag clothing_picture(item), size: "200x200", class: "main-image" %>
                  </div>
              </div>
      <% end %>
    </div>
</div>